<div>
    <div>
        <form class="form-group-lg">
            <h2 class="text-center">Find Players</h2>

            <div class="input-group">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="ctrl.search(ctrl.searchText)">Search</button>
                </span>

                <input type="text" ng-model="ctrl.searchText" class="form-control" ng-change="ctrl.searchChanged()"
                       ng-model-options="{updateOn: 'blur default', debounce: {blur: 0, default: 1000}}"/>
            </div>
        </form>

        <ul class="list-group">
            <li class="list-item" ng-repeat="player in ctrl.typeaheadMatches">
                {{player.name}}
            </li>
        </ul>
    </div>

    <div>
        <ul class="list-group">
            <li ng-repeat="player in ctrl.players" class="list-group-item">
                <kg-player-tile player="player" expanded="player.expanded" add-player="ctrl.addPlayer($player)"></kg-player-tile>
            </li>
        </ul>
    </div>
</div>